* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  gap: 1rem;
  color: #2b283a;
}

.image {
  background-image: url("./assets/headshot.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 360px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info h1 {
  font-size: 25px;
  font-weight: bold;
}

.info h4 {
  color: #f47d27;
  font-size: 16px;
}

.info a {
  font-size: 13px;
}

.buttons {
  display: flex;
  padding: 0 4rem;
  margin-bottom: 10px;
  justify-content: space-between;
}

button {
  padding: 0.5rem 1.4rem;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px #242428;
  transition: background-color 2s ease;
}

.icon {
  margin-right: 7px;
}

.emailBtn {
  background-color: #ffffff;
  color: #23252c;
  border: 1px solid #918e9b;
}

.linkdBtn {
  background-color: #297fe5;
  color: #ffffff;
}
button:hover {
  background-color: #f47d27;
}

button:active {
  transform: translateY(2px);
}
