* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Style */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  gap: 1rem;
  color: #2b283a;
}

.image {
  background-image: url("./assets/headshot.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 360px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info h1 {
  font-size: 25px;
  font-weight: bold;
}

.info h4 {
  color: #f47d27;
  font-size: 16px;
}

.info a {
  font-size: 13px;
}

.buttons {
  display: flex;
  max-width: 300px;
  margin-left: 30px;
  justify-content: space-between;
}

button {
  padding: 0.5rem 2rem;
  border-radius: 6px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 6px #242428;
  transition: background-color 2s ease;
}

.icon {
  margin-right: 7px;
}

.emailBtn {
  background-color: #ffffff;
  color: #23252c;
}

.linkdBtn {
  background-color: #297fe5;
  color: #ffffff;
}
button:hover {
  background-color: #f47d27;
}

button:active {
  transform: translateY(2px);
}

/* About section */

.about,
.interests {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  align-items: start;
  text-align: start;
  gap: 0.5rem;
  line-height: 1.3;
  margin-top: 1.2rem;
}

.about p {
  color: #4a4e74;
}

/* footer */
footer {
  display: flex;
  padding: 1.4rem;
  max-width: 360px;
  margin: 20px auto 0;
  background-color: #d5d4d8;
  justify-content: space-evenly;
  gap: 10px;
}

i {
  font-size: 30px;
  color: #918e9b;
}
